[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "agRee"]
	path = agRee
	url = https://github.com/cran/agRee
[submodule "auRoc"]
	path = auRoc
	url = https://github.com/cran/auRoc
[submodule "miscF"]
	path = miscF
	url = https://github.com/cran/miscF
[submodule "PottsUtils"]
	path = PottsUtils
	url = https://github.com/cran/PottsUtils
